<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <style>
     html,body{
       margin: 0px;
       padding: 0px;
     }
     .container{
       width: 100%;
       position: relative;
       height: 0px;
       padding-top:50%;
     }
     .item{
       position: absolute;
       top: 0px;
       bottom: 0px;
       left: 0px;
       right:0px;
       background-color:tomato;
     }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="item">
      </div>
    </div>
  </body>
</html>
